html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: var(--dark);
  background-color: var(--light-secondary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark: #2c2c31;
  --dark-secondary: #7e8390;
  --dark-tertiary: #b1b8c8;
  --light: white;
  --light-secondary: #f8f9fa;
  --brand: #1acae0;
  --brand-dark: #00b5d0;
}

/* Animation  */
.animate {
  transform: translateY(+50px);
  opacity: 0;
}

.animate-right {
  transform: translateX(-50px);
  opacity: 0;
}

.animate-left {
  transform: translateX(+50px);
  opacity: 0;
}

.up {
  transform: translateY(0);
  opacity: 1;
  transition: ease-in-out 0.8s;
}

.container-sm {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

/*  
      The Navbar styling Starts Here
  */
.nav-bar {
  padding: 0.8rem;
  height: auto;
  background-color: var(--dark);
}

.nav-bar > .container {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  color: var(--light-secondary);
}

.flex-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  max-width: 5rem;
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: -0;
  z-index: 10000;
}

.mid-nav > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 19px;
  text-transform: uppercase;
  /* identical to box height */

  text-decoration: none;
  padding: 0.5rem;
  color: var(--light-secondary);
  cursor: pointer;
}

.mid-nav > a:hover {
  transition: 0.3s ease-out 0.1s;
  color: var(--dark-tertiary);
}

.btn-cta {
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: var(--light) 1px solid;
  border-radius: 0;
  color: var(--light);
}

.btn-cta:hover {
  border: var(--brand) 1px solid;
  color: var(--brand) !important;
  transition: 0.5s ease-out 0.1s;
}
.btn-menu {
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 0;
  color: var(--light);
  /* transition: 0.8s ease; */
}

/*  
      Mobile NavBar styling starts Here
  */
.all-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  background: url(./images/bg.png);
  background-color: var(--dark);

  justify-content: center;
  z-index: 1000000;
  display: none;
}

.mobile-nav {
  margin-top: 35vh;
  margin-bottom: 50%;
  height: 15rem;
}

.mobile-nav > a {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 40px;
  text-transform: uppercase;
  /* identical to box height */

  text-decoration: none;
  padding: 0.5rem;
  color: var(--light-secondary);
  cursor: pointer;

  text-align: center;
}
.mobile-nav > a:hover {
  transition: 0.3s ease-out 0.1s;
  color: var(--dark-tertiary);
}

.mobile-nav > .btn-cta {
  line-height: 30px;
  max-width: 15rem;
  margin: 1rem auto;
}
/*  
      Mobile NavBar styling ends Here
  */

/*  
      The NavBar styling ends Here
  */

.mobile-only {
  display: none;
}

/*  
      The Carousel styling Starts Here
  */
#carouselExampleIndicators {
  position: relative;
}

.carousel-item {
  background: var(--dark);
}

.carousel-item > .container {
  height: 23rem;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container > .first-image {
  max-width: 30rem;
  min-width: 15rem;
  max-height: auto;
}
.container > .second-image {
  max-height: 28rem;
  min-width: 13rem;
  height: auto !important;
  margin: 2rem;
}
/*  
      The Carousel styling ends Here
  */
/*  
      The About-section styling starts Here
  */

.body-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  letter-spacing: 0.02em;
  color: #9297a6 !important;
}

.header1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
}

.header2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin: 4rem auto;
}

.about-section > img {
  margin: 1rem;
  max-width: 300px;
}
.about {
  margin: 1rem;
  max-width: 700px;
}

.about > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-brand {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border: var(--dark) 1px solid !important;
  border-radius: 0;
  color: var(--dark);
  margin: 0;
  padding: 0.8rem 1rem;
}

.btn-brand:hover {
  border: var(--brand) 1px solid !important;
  /* color: var(--light-secondary) !important; */
  color: var(--brand);
  transition: 0.5s ease-out 0.1s;
}

.btn-dark {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: var(--light-secondary);
  background: var(--dark);
  margin: 0;
  padding: 0.8rem 1rem;
}

.btn-dark:hover {
  /* border: var(--brand) 1px solid !important; */
  color: var(--light-secondary) !important;
  background-color: var(--brand);
  transition: 0.5s ease-out 0.1s;
}

.btn-light {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.8rem !important;
  text-transform: uppercase;
  border: none !important;
  border-radius: 0 !important;
  color: var(--dark) !important;
  background-color: var(--light) !important;
  margin: 0;
  padding: 0.8rem 1rem !important;
}

/*  
      The About-section styling ends Here
  */
/*  
      The Projects-section styling starts Here
  */
.project-grid {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.project-tile {
  position: relative;

  padding: 0;
  margin: 0;
  max-height: auto;
  width: 50%;
  cursor: pointer;
  background-color: #000000;
}

.project-text {
  color: var(--light-secondary);
  position: absolute;
  bottom: -1rem;
  left: 1rem;

  margin: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;

  opacity: 0;
}

.project-tile:hover img {
  opacity: 0.6;
  transition: 0.5s ease-out 0.1s;
}

.project-tile:hover .project-text {
  opacity: 1;
  bottom: 1rem;
  transition: 0.5s ease 0.1s;
}

.project-img {
  height: 100%;
  width: 100%;
}

/*  
      The Projects-section styling ends Here
  */

/*  
      The CTA styling starts Here
  */
.CTA {
  position: relative;
  top: -1px;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;

  background-color: var(--light);
}
/*  
      The CTA styling ends Here
  */
/*  
      The Team styling starts Here
  */
.team-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.team-header {
  max-width: 12rem;
}

.team-body {
  max-width: 45rem;
}

.header3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  /* or 27px */

  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--dark-secondary);
}

.members {
  padding: 2rem auto;
}

.grid {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(3, 2fr);
}

.cell p {
  margin: 0;
}

.cell > img {
  max-width: 100%;
  height: auto;
}

.cell {
  background-color: var(--light);
}

.cell:nth-child(3n) {
}
/*  
      The Team styling ends Here
  */

/*  
      The Clients styling starts Here
  */

.logos {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 5rem 1rem;
  grid-template-columns: repeat(4, 2fr);

  justify-items: center;
  align-items: center;
}

.logos img {
  height: 30px;
  width: auto;
  /* opacity: 0.8; */
}

.logos img:nth-child(3) {
  height: 17px;
}

.logos img:nth-child(7) {
  height: 23px;
}
/*  
      The Clients styling ends Here
  */
/*  
      The Footer styling starts Here
  */

.footer {
  background-color: var(--dark);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  float: right;
  margin-top: 1rem;
}

.emailoctopus-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailoctopus-form-row {
  max-width: 17rem;
}

.email-input {
  padding: 0.75rem 1rem !important;
  font-size: 0.8rem;

  background-color: #212125;
  border: 1px solid #212125 !important;
  color: var(--light-secondary) !important;
  margin: 0 !important;

  background-image: url('./images/email\ 1.svg');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding-left: 40px !important;
}

.socials {
  margin-bottom: 0.2rem;
  margin-right: auto;
  max-width: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.socials a:hover {
  opacity: 0.8;

  transform: translateY(-2px);
  transition: 0.2s ease-out 0.1s;
}
/*  
      The Footer styling ends Here
  */

/********************************************************************************************************

  Media querie for tablet and large-screen devices

  ***********************************************************************************************************/

@media screen and (max-width: 992px) {
  /*  
  The Navbar styling starts Here
  */
  .nav-bar > .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  /*  
      The NAvbar styling ends Here
  */

  /*  
      The Carousel styling starts Here
  */
  .carousel-item > .container {
    height: 20rem;

    display: flex;
    flex-grow: 0;
    justify-content: space-around;
    align-items: center;
  }

  .carousel-item > #illustration > .first-image {
    align-self: flex-end;
  }

  /*  
      The Carousel styling ends Here
  */

  /*  
      The About-section styling starts Here
  */

  .about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem auto;
  }

  .about-section > img {
    max-width: 100%;
  }

  .about {
    max-width: 800px;
  }

  /*  
      The About-section styling ends Here
  */
  /*  
      The Team-section styling starts Here
  */

  .team-container {
    justify-content: space-between;
  }
  /*  
      The Team-section styling ends Here
  */
}

/****

  Media querie for medium-size devices

  ****/

@media screen and (max-width: 768px) {
  .appear {
    display: block;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  /*  
      The Carousel styling starts Here
  */

  .carousel-item > .container {
    height: 23rem;
  }

  .container > .first-image {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .container > .second-image {
    display: none;
  }

  /*  
      The Carousel styling ends Here
  */

  .header1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
  }
  /*  
      The Team styling starts Here
  */

  .cell .header2 {
    font-size: 22px;
  }
  /*  
      The Team styling ends Here
  */
}

/*************************************************************************

  Media querie for mobile devices

  ***********************************************************************************/

@media screen and (max-width: 576px) {
  /*  
      The Navbar styling starts Here
  */

  .close-btn {
    margin-right: 0.75rem;
  }
  /*  
      The Navbar styling ends Here
  */

  /*  
      The About-section styling starts Here
  */

  .header1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
  }

  .about-section > img {
    max-width: 100%;
  }
  .about {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /*  
      The About-section styling ends Here
  */
  /*  
      The Project-section styling starts Here
  */
  .project-tile {
    width: 100%;
  }

  .project-text {
    left: 0;
    font-size: 22px;
  }

  .project-tile:hover .project-text {
    opacity: 1;
    bottom: 0;
    transition: 0.5s ease 0.1s;
  }

  /*  
      The Project-section styling ends Here
  */
  /*  
      The Team-section styling starts Here
  */
  .grid {
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(2, 2fr);
  }
  .cell {
    margin-left: auto;
    margin-right: auto;
  }
  /*  
      The Team-section styling ends Here
  */

  /*  
      The Footer styling starts Here
  */
  footer-nav {
    font-size: 0.6rem !important;
  }

  .emailoctopus-form {
    display: block;
  }

  .emailoctopus-form-row {
    max-width: 100%;
  }

  .emailoctopus-form-row-subscribe {
    margin-top: 1rem;
  }

  .socials {
    margin-bottom: 0.2rem;
    margin-left: auto;
    max-width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  /*  
      The Footer styling ends Here
  */
}
