html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-size: 16px;
  color: var(--dark);
  background-color: var(--light-secondary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark: #2c2c31;
  --dark-secondary: #7e8390;
  --dark-tertiary: #b1b8c8;
  --light: white;
  --light-secondary: #f8f9fa;
  --brand: #1acae0;
  --brand-dark: #00b5d0;
}

/* Animation */
.animate {
  transform: translateY(+50px);
  opacity: 0;
}

.animate-right {
  transform: translateX(-50px);
  opacity: 0;
}

.animate-left {
  transform: translateX(+50px);
  opacity: 0;
}

.up {
  transform: translateY(0);
  opacity: 1;
  transition: ease-in-out 0.8s;
}

.container-md {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.container-sm {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100px;
  margin: 0 auto;
}

iframe {
  display: block;
  border-style: none;
}

article {
  padding: 10px;
}

/*  
      Color Styling
  */

.text-color {
  color: #9297a6 !important;
}

.dark-color {
  color: var(--dark) !important;
}
/*  
      Background Styling
  */

.bg-white {
  background-color: var(--light);
}

/*  
      Text Styling
  */

.body-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  letter-spacing: 0.02em;
  margin: 10px 0;
}

.header1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
}

.header2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  /* Dark */
  color: #2c2c31;

  margin: 10px 0;
}

.header3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--dark-secondary);

  margin: 10px 0;
}

.text-12 {
  font-size: 12px !important;
}
.text-14 {
  font-size: 14px !important;
}

/*  
      Three Side Article Styling
  */

.project-overview {
  max-width: 35rem;
}

.project-overview .header2 {
  max-width: 30rem;
}

.deliverables {
  max-width: 8.75rem;
}

.year {
  max-width: 2.75rem;
  margin-right: 1rem;
}

.inner-article-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 15rem;
}

/*  
      The Header Image Styling
  */
.header-img {
  width: 100%;
  height: auto;
}
/*  
      Two Side Article Styling
  */

.article-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;

  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.article-header {
  max-width: 15rem;
}

.article-body {
  max-width: 35rem;
}

.mobile-only {
  display: none;
}

/*  
      Logo Presention Styling
  */

.logo-presenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: 4rem 2rem;
}

/*  
      Website Display Styling
  */

.website-display {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.website-display img {
  width: 100%;
}

/*  
      The Footer styling starts Here
  */

.footer {
  background-color: var(--dark);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  float: right;
  margin-top: 1rem;
}

.emailoctopus-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailoctopus-form-row {
  max-width: 17rem;
}

.email-input {
  padding: 0.75rem 1rem !important;
  font-size: 0.8rem;

  background-color: #212125;
  border: 1px solid #212125 !important;
  color: var(--light-secondary) !important;
  margin: 0 !important;

  background-image: url('./images/email\ 1.svg');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding-left: 40px !important;
}

.socials {
  margin-bottom: 0.2rem;
  margin-right: auto;
  max-width: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.socials a:hover {
  opacity: 0.8;

  transform: translateY(-2px);
  transition: 0.2s ease-out 0.1s;
}

.btn-light {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.8rem !important;
  text-transform: uppercase;
  border: none !important;
  border-radius: 0 !important;
  color: var(--dark) !important;
  background-color: var(--light) !important;
  margin: 0;
  padding: 0.8rem 1rem !important;
}

/*  
      Navigation
  */

.navigation-button-div {
  max-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 2rem auto;
}

.btn-cta {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border: var(--dark) 1px solid;
  border-radius: 0;
  color: var(--dark);
  margin: 0;
  padding: 0.8rem 1rem;
}

.btn-cta:hover {
  border: var(--brand) 1px solid;
  color: var(--brand) !important;
  transition: 0.5s ease-out 0.1s;
}

.btn-dark {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border: var(--dark) 1px solid;
  border-radius: 0;
  color: var(--light-secondary);
  background: var(--dark);
  margin: 0;
  padding: 0.8rem 1rem;
}

.btn-dark:hover {
  border: var(--brand) 1px solid;
  color: var(--light-secondary) !important;
  background-color: var(--brand);
  transition: 0.5s ease-out 0.1s;
}

/********************************************************************************************************

  Media querie for tablet and large-screen devices

  ***********************************************************************************************************/

@media screen and (max-width: 992px) {
  /*  
      The article styling 
  */

  .article-container {
    justify-content: space-between;
  }

  .no-pad {
    display: none;
  }
}

/********************************************************************************************************

  Media querie for tablet and medium-screen devices

  ***********************************************************************************************************/

@media screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
  /*  
      Text styling 
  */

  .body-text {
    margin: 10px 0;
  }

  .header1 {
    margin: 20px 0;
  }

  .header2 {
    margin: 20px 0;
  }

  .header3 {
    margin: 10px 0;
  }

  /*  
        Logo Presentation 
    */
  .logo-presenter img {
    margin: 2rem;
    max-width: 80%;
  }
  .logo-presenter :first-child {
    max-width: 9rem;
  }
}

/*************************************************************************

  Media querie for mobile devices

  ***********************************************************************************/

@media screen and (max-width: 576px) {
  /*  
      Three Side Article Styling
  */

  .inner-article-container {
    display: block;
    text-align: left;
  }

  .p-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /*  
      Website Display Styling
  */

  .website-display {
    padding: 2rem 1rem;
  }

  /*  
      The Footer styling starts Here
  */
  footer-nav {
    font-size: 0.6rem !important;
  }

  .emailoctopus-form {
    display: block;
  }

  .emailoctopus-form-row {
    max-width: 100%;
  }

  .emailoctopus-form-row-subscribe {
    margin-top: 1rem;
  }

  .socials {
    margin-bottom: 0.2rem;
    margin-left: auto;
    max-width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
